



#first-actu {
    margin-right: 70px;
}
.agencesVehiculesVendusMois{
    font-family: 'Segoe UI Semibold', serif;
    font-size: 150px;
}
.agencesVehiculesVendusMoisPrec{
    font-family: 'Segoe UI Semibold', serif;
    font-size: 20px;
}
.agencesVehiculesVendusMoisPhrase{
    margin-top: 0;
    font-family: 'Segoe UI Regular', serif;
    font-size: 30px;
}
.agencesVehiculesVendusAnnee{
    font-family: 'Segoe UI Semibold', serif;
    font-size: 50px;
}
.agencesVehiculesVendusAnneePrec{
    font-family: 'Segoe UI Semibold', serif;
    font-size: 15px;
}
.agencesVehiculesVendusAnneePhrase{
    font-family: 'Segoe UI Regular', serif;
    font-size: 20px;
}
.agencesNbFrance{
    font-family: 'Segoe UI Semibold', serif;
    font-size: 50px;
}
.agencesNbFrancePhrase{
    font-family: 'Segoe UI Regular', serif;
    font-size: 20px;
}
#agentsAjoutDateEntree {
    max-width: 240px;
    color: #777777;
}
.agentsFemmes, .agentsHommes{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.agentsFemmes {
    background-color: #EC808D;
    text-align: center;
}
.agentsHommes {
    background-color: #81D3F8;
    text-align: center;
}
.agentsDansGroupe {
    font-size: 150px;
}
.agentsDansGroupePhrase{
    font-size: 40px;
}
.tailleXXL{
    font-size: 100px;
}
.inputLight{
    border: 0px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.inputLight:focus{
    border: 0px solid #5C5FFF;
    border-bottom: 1px solid #5C5FFF;
}
input[type=file]{
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
    padding: 2px 5px;
    color: rgba(0, 0, 0, 1);
}
.ligneProgress{
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.ligneProgress > p{
    width: 200px;
    text-align: left;
    padding: 0;
}
.progress{
    width: 100%;
    height: 15px;
    border-radius: 0;
}