body, nav ul
{
    width: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Segoe UI Normal', 'Segoe UI';
}
section{
    display: flex;
    flex-direction: column;
}
#container, .flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.flexColumn > div , .flexRow > div{
    text-align: center;
}
.flexColumn > div > p , .flexRow > div > p{
    margin: 0;
    padding:0;
}
.center{
    justify-content: space-between;
    align-items: center;
}
.btn-primary{
    background-color: #5c5fff;
    border-color: #5c5fff;
}
nav a, nav a:hover{
    outline: none;
    text-decoration: none;
    color: #333333;
}
#sectionMenu, nav{
    width: 200px;
}
#sectionMenu > section {
    padding: 25px;
}
nav li{
    list-style-type : none;
    width: 100%;
    padding: 0 25px;
}
.firstMenu{
    line-height: 40px;
}
.sousMenu{
    line-height: 25px;
    padding-bottom: 5px;
}
nav li img{
    width: 30px;
    height: 25px;
    margin : 0;
    padding: 0;
    display: inline-block;
}
nav li img[alt]{
    text-align : center;
}
.sousMenu > li {
    padding : 0;
}
#imgProfil{
    /*background-image: url("icons/id.png");*/
    width: 150px;
    Height: 150px;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:90px;
    border-radius:90px;
    background-position: center;
    background-size: cover;
}
.titreOngletNav{
    font-family: 'Arial Gras', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding-left: 10px;
}
main, .selectMenu{
    background-color: #F2F2F2;
}
main{
    width: 100%;
}

a, a:hover{
    text-decoration: none;
    color: #5C5FFF;
}
#bandeau{
    background-color: black;
    height: 30px;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#bandeau h1{
    font-family: 'Arial Gras', 'Arial Normal', 'Arial';
    font-size: 25px;
}
main section{
    background-color: white;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
form input{
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
}
form input:focus{
    border: 1px solid rgba(92, 95, 255, 0.5);
}
form input[placeholder]{
    color: rgba(0, 0, 0, 1);
    padding: 2px 5px;
}
form > div > input:first-child{
    margin-right: 5px;
}
form > div > input:last-child{
    margin-left: 5px;
}
#first-actu {
    margin-right: 70px;
}
.vert{
    color: #28A745;
}
.rouge{
    color: #D9001B;
}
.gris{
    color: #D9D9D9;
}
.jaune{
    color: #FFC107;
}
.orange{
    color: #F59A23;
}
#logo {
    display: flex;
    color: white;
}
#logo img {
    width: 40px;
    height: 35px;
}
.agencesVehiculesVendusMois{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-size: 150px;
}
.agencesVehiculesVendusMoisPrec{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-size: 20px;
}
.agencesVehiculesVendusMoisPhrase{
    margin-top: 0;
    font-family: 'Segoe UI Normal', 'Segoe UI';
    font-size: 30px;
}
.agencesVehiculesVendusAnnee{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-size: 50px;
}
.agencesVehiculesVendusAnneePrec{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-size: 15px;
}
.agencesVehiculesVendusAnneePhrase{
    font-family: 'Segoe UI Normal', 'Segoe UI';
    font-size: 20px;
}
.agencesNbFrance{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-size: 50px;
}
.agencesNbFrancePhrase{
    font-family: 'Segoe UI Normal', 'Segoe UI';
    font-size: 20px;
}