h1 {
    font-size: 1.5em !important;
}

a {
    text-decoration: none !important;
}

.header-block {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 30px 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header-logo {
    width: 160px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    width: 50px;
    height: 35px;

}


.main-block {
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    width: 200px;
    list-style: none;
    font-weight: bold;
}

.main-nav a {
    color: black !important;
}

.corpus-block {
    width: 100%;
    height: 904px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 30px 150px;
}

.generic-block {
    background-color: white;
    height: 400px;
    min-width: 700px;
    border: 1px solid black;
}

.large-block {
    background-color: white;
    height: 400px;
    width: 1420px;
    border: 1px solid black;
}