@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Semibold.woff') format('woff');
}

body, nav ul{
    width: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Segoe UI Regular', serif;
}

h1{
    font-family: 'Segoe UI Semibold', serif;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}

h3{
    font-family: 'Segoe UI Semibold', serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}
section{
    display: flex;
    flex-direction: column;
}
#container, .flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.flexColumn > div , .flexRow > div{
    text-align: center;
    /*width: 40vw;*/
}
.flexColumn > div > p , .flexRow > div > p{
    margin: 0;
    padding:0;
}
.center{
    justify-content: space-between;
    align-items: center;
}
.btn-primary{
    background-color: #5c5fff !important;
    border-color: #5c5fff !important;
}
#logo {
    display: flex;
    color: white;
}
#logo img {
    width: 40px;
    height: 35px;
}
nav a, nav a:hover{
    outline: none;
    text-decoration: none;
    color: #333333;
}
#sectionMenu, nav{
    width: 200px;
}
#sectionMenu > section {
    padding: 25px;
}
nav li{
    list-style-type : none;
    width: 100%;
    padding: 0 25px;
}
.firstMenu{
    line-height: 40px;
}
.sousMenu{
    line-height: 25px;
    padding-bottom: 5px;
}
nav li img{
    width: 30px;
    height: 25px;
    margin : 0;
    padding: 0;
    display: inline-block;
}
nav li img[alt]{
    text-align : center;
}
.sousMenu > li {
    padding : 0;
}
#imgProfil{
    width: 150px;
    Height: 150px;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:90px;
    border-radius:90px;
    background-position: center;
    background-size: cover;
}
.titreOngletNav{
    font-family: 'Arial Gras', 'Arial Normal', 'Arial', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding-left: 10px;
}
main, .selectMenu{
    background-color: #F2F2F2;
}
main{
    width: 89.1%;
}

a, a:hover{
    text-decoration: none;
    color: #5C5FFF;
}
#bandeau{
    background-color: black;
    height: 30px;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#bandeau h1{
    font-family: 'Arial Gras', 'Arial Normal', 'Arial', serif;
    font-size: 25px;
}
main section {
    background-color: white;
}

.vert{
    color: #28A745;
}
.rouge{
    color: #D9001B;
}
.gris{
    color: #D9D9D9;
}
.jaune{
    color: #FFC107;
}
.orange{
    color: #F59A23;
}

form{
    margin: 20px 0 15px 0;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
form button{
    margin-top: 10px;
}

form input{
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
}
form input:focus{
    border: 1px solid rgba(92, 95, 255, 0.5);
}
form input[placeholder]{
    color: rgba(0, 0, 0, 1);
    padding: 2px 5px;
}
form > div > input:first-child{
    margin-right: 5px;
}
form > div > input:last-child{
    margin-left: 5px;
}
label {
    color: #777777;
}

select{
    padding: 2px 5px;
}

input[type=file]{
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
    padding: 2px 5px;
    color: rgba(0, 0, 0, 1);
}

#search > input[placeholder]{
            color: rgba(92,92,255,1);
        }
        table{
            font-size: 14px;
            width: 100%;
            margin: 10px 0;
            text-align: center;
        }
        table a {
            color: #5c5fff;
        }
        th{
            font-size: 16px;
        }
        th, td{
            border-top: 1px solid #E9ECEF;
            padding: 2px 0;
        }
        th{
            border-bottom: 2px solid #E9ECEF;
        }
        th, td:first-child{
            font-weight: bold;
            color: #212529;
        }
        th:last-child, td:last-child{
            border-right: 1px solid #212529;
        }
        th{
            border-top: 1px solid #212529;
        }
        th:first-child, td:first-child{
            border-left: 1px solid #212529;
        }
        tr:last-child{
            border-bottom: 1px solid #212529;
        }
        tbody tr:hover{
            background-color: rgba(0,0,0,0.05);
        }


.icon {
    width: 29px;
    height: 29px;
}


.pleineLargeur{
    width: 100%;
}

.close{
float: right;
}
