
article {
    border: 1px solid #797979;
    padding: 25px;
    margin: 0 15px;
}
section{
    margin: 0 0 75px 0;
}

form{
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0;
}

#photoPrincipale{
    height : 160px;
    width: 160px;
}
.photoMini{
    height: 40px;
    width: 40px;
}
.conteneurMiniature{
    height : 160px;
    overflow: hidden;
}
#vehiculeDeclererProbleme{
    border-radius: 4px;
    border: 1px solid #DC3545;
    color: #DC3545;
    background-color: white;
    height: 30px;
    flex: 1;
}
#vehiculeDeclererProbleme:hover{
    color: white;
    background-color: #DC3545;
}
#vehiculeModifierStatut{
    border-radius: 4px;
    border: 1px solid #49dc73;
    color: #49dc73;
    background-color: white;
    height: 30px;
    flex: 1;
}
#vehiculeModifierStatut:hover{
    color: white;
    background-color: #49dc73;
}
#vehiculeUpdateAgence{
    margin-right: 65%;
}
#vehiculeUpdateAgenceLabel{
    color: #868E96;
}