@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Semibold.woff') format('woff');
}

body{
    width: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Segoe UI Regular', serif;
}
main{
    width: 100%;
}
main article{
    background-color: white;
}
h1{
    font-family: 'Segoe UI Semibold', serif;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}
h3{
    font-family: 'Segoe UI Semibold', serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}
article {
    border: 1px solid #797979;
    padding: 25px;
    margin: 0 15px;
}
section{
    margin: 0 0 75px 0;
}
table{
    width: 100%;
}
#photoAgence{
    height: 175px;
    width: 150px;
    border: 1px solid black;
}
form{
    width: 100%;
    margin: 0;
    padding: 0;
}
form > div{
    margin: 10px 10px 0 10px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
 }
input{
    border-width: 0px;
    border-bottom: 1px solid #868E96;
    color: #868E96;
    line-height: 19px;
    width: 100%;
}
form > input{
    margin: 10px 10px 0 10px;
}
form > div > input{
    align-items: center;
}
form > div > input:first-child {
    margin: 0 10px 0 0;
}
table{
    font-size: 14px;
}
th{
    font-size: 16px;
}
th, td{
    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF;
    color: #868E96;
}
th, tr:last-child{
    border-bottom: 2px solid #E9ECEF;
}
th, td:first-child{
    font-weight: bold;
    color: #212529;

}
.icon{
     width: 25px;
    height: 25px;
    margin: 0;
}
#photoPrincipale{
    height : 160px;
    width: 160px;
}
.photoMini{
    height: 40px;
    width: 40px;
}
.conteneurMiniature{
    height : 160px;
    overflow: hidden;
}
#vehiculeDeclererProbleme{
    border-radius: 4px;
    border: 1px solid #DC3545;
    color: #DC3545;
    background-color: white;
    height: 30px;
    flex: 1;
}
#vehiculeDeclererProbleme:hover{
    color: white;
    background-color: #DC3545;
}
#vehiculeModifierStatut{
    border-radius: 4px;
    border: 1px solid #49dc73;
    color: #49dc73;
    background-color: white;
    height: 30px;
    flex: 1;
}
#vehiculeModifierStatut:hover{
    color: white;
    background-color: #49dc73;
}
#vehiculeUpdateAgence{
    margin-right: 65%;
}
#vehiculeUpdateAgenceLabel{
    color: #868E96;
}