body{
    width: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Segoe UI Normal', 'Segoe UI';
}
main{
    width: 100%;
}
main article{
    background-color: white;
}
h1{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}
h3{
    font-family: 'Segoe UI Semibold', 'Segoe UI';
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}
article {
    border: 1px solid #797979;
    padding: 25px;
    margin: 0 15px;
}
section{
    margin: 0 0 75px 0;
}
table{
    width: 100%;
}
#photoAgence{
    height: 175px;
    width: 175px;
    border: 1px solid black;
}
form{
    width: 100%;
    margin: 0;
    padding: 0;
}
form > div{
    margin: 10px 10px 0 10px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
 }
input{
    border-width: 0px;
    border-bottom: 1px solid #868E96;
    color: #212529;
    line-height: 19px;
    width: 100%;
}
form > input{
    margin: 10px 10px 0 10px;
}
form > div > input{
    align-items: center;
}
form > div > input:first-child {
    margin: 0 10px 0 0;
}
table{
    font-size: 14px;
}
th{
    font-size: 16px;
}
th, td{
    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF;
    color: #868E96;
}
th, tr:last-child{
    border-bottom: 2px solid #E9ECEF;
}
th, td:first-child{
    font-weight: bold;
    color: #212529;

}
.icon{
     width: 25px;
    height: 25px;
    margin: 0;
}