
#vehiculesAjoutPhoto{
    /*//color: red;*/
}
.ligneProgress{
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.ligneProgress > p{
    width: 200px;
    text-align: left;
    padding: 0;
}
.progress{
    width: 100%;
    height: 15px;
    border-radius: 0;
}
article{
    display: flex;
    flex-direction: column;
    width: 45vw;
    padding: 0 15px;
}
.tailleXXL{
    font-size: 100px;
}
.inputLight{
    border: 0px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.inputLight:focus{
    border: 0px solid #5C5FFF;
    border-bottom: 1px solid #5C5FFF;
}

