{% extends "base.html" %}
{% block titre %}Page de connexion{% endblock %}
{% block body %}

    <section class="container col-sm-9 col-md-7 col-lg-5 mx-auto mt-5" >
        <div class="card card-signin">
            <div class="card-header pt-2 pb-0">
                <h5 class="card-title font-weight-bold">SOCOPEC - connexion</h5>
            </div>
            <form method="post" action=".">
                <div class="card-body">
                    {% if error %} <div class="alert alert-danger" role="alert">Utilisateur inconnu ou mauvais de mot de passe.</div>{% endif %}
                    {% if user.is_authenticated %} Vous êtes connecté, {{ user.username }} !
                    {% else %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="idConnection">Identifiant de connection</label>
                            <input type="text" class="form-control" id="idConnection" name="username" required>
                        </div>
                        <div class="form-group mb-0">
                            <label for="mdpConnection">Mot de passe</label>
                            <input type="password" class="form-control" id="mdpConnection" name="password" required>
                        </div>
                        <div class="text-right mt-0">
                            <small id="mdpOublie"><a href="password" class="text-decoration-none">Mot de passe oublié</a></small>
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer form-group container m-0">
                    <div class="row align-items-center justify-content-between pr-3 pl-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="resterConnecte">
                            <label class="form-check-label" for="resterConnecte">Rester connecté</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Connection</button>
                    </div>
                 </div>
            </form>
        </div>
    </section>
{% endblock %}