{% extends "base.html" %}
{% block titre %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-header">
                        <h1>SOCOPEC - Mot de passe oublié</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br><a href="../"><input type="button" value="Annuler" /></a>
                            <input type="submit" value="Envoyer" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}