{% extends "template.html" %}
{% block block-corpus %}
    <div class="generic-block" id="agent-b1">
        {% block agent-b1 %}{% endblock %}
    </div>
    <div class="generic-block" id="agent-b2">
        {% block agent-b2 %}{% endblock %}
    </div>
    <div class="large-block" id="agent-b3">
        {% block agent-b3 %}{% endblock %}
    </div>
    <!-- vue.js pour affichage menu -->
    <script>
        var vm = new Vue({
            el: '#menu',
            data: {
                user: 'admin',
                vehicules : false,
                agents: true,
                agences: false
            }
        });
    </script>
{% endblock %}