<div class="container-fluid">
    <div class="row justify-content-around p-2">

        <section class="border border-secondary p-2 m-2 col">
            <h3>{% section tittlSection %}Titre{% endblock %}</h3>

                {% block bodySection %}
                <form>
                </form>
                {% endblock %}
            {% block footerSection %}
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-sm">{% section nomBouton %}Envoyer{% endblock %}</button>
            {% endblock %}
        </section>

        <section class="border border-secondary p-2 m-2 col">
            <h3>Ajouter un véhicule</h3>
            <form>

            </form>
            </section>
    </div>
</div>