{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../../../static/css/base.css">
<link rel="stylesheet" href="../../../static/css/fiche.css">
{% endblock %}
{% block body %}
<article>
    <a href="{% url 'agences' %}"><img class="icon close" src="../../../static/images/supprimer.svg"></a>
    <h1>Fiche agence</h1>
    <section class="d-flex flex-row align-items-end">
        <img id="photoAgence" src="{{ agence.photo }}" alt="photo de l'agence">
        <form action="" method="post">
            {% csrf_token %}
            {% if confirmation %}<div class="alert alert-success" role="alert">Les modifications de l'agence ont bien été enregistrées</div>{% endif %}
            <div>
                <input name="nom" id="agenceNom" type="text" placeholder="Nom : {{ agence.nom }}">
                <button type="submit" style="background-color:white;border:0px"><img class="icon" src="../../../static/images/modifier.svg"></button>
                <a href="{% url 'supprimer_agence' id_agence=agence.id %}"><img class="icon" src="../../../static/images/supprimer.svg"></a>
            </div>
            <input id="agenceResponsable" type="text" placeholder="Responsable : ">
            <input name="adresse" id="agenceAdresse" type="text" placeholder="Adresse : {{ agence.adresse }}">
            <input name="complement_adresse" id="agenceAgenceSuite" type="text" placeholder="Adresse suite : {{ agence.complement_adresse }}">
            <div>
                <input name="code_postal" id="agenceCP" type="text" placeholder="Code postal :  {{ agence.code_postal }}">
                <input name="ville" id="agenceVille" type="text" placeholder="Ville : {{ agence.ville }}">
            </div>
            <div>
                <input name="telephone" id="agenceTelephone" type="text" placeholder="Téléphone : {{ agence.telephone }}">
                <input name="fax" id="agenceFax" type="text" placeholder="Fax : {{ agence.fax }}">
            </div>
        </form>
    </section>

    <section>
        <h3>Problèmes sur véhicules de l'agence</h3>
        <div id="ficheAgenceProbleme">
            <probleme-grid
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
            </probleme-grid>
        </div>
    </section>

    <section>
        <h3>Historique des ventes de l'agence</h3>
        <div id="ficheAgenceHistorique">
            <historique-grid
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
            </historique-grid>
        </div>
    </section>

    <section>
        <h3>Liste du personnel de l'agence</h3>
        <div id="ficheAgencePersonnel">
            <personnel-grid
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
            </personnel-grid>
        </div>
    </section>

</article>



<!-- vue.js probleme -->
{% verbatim %}
<script type="text/x-template" id="probleme-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredHeroes">
            <td v-for="key in columns" v-html="entry[key]">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>
{% endverbatim %}

<script type="text/javascript">
    Vue.component('probleme-grid', {
        template: '#probleme-template',
        props: {
            heroes: Array,
            columns: Array
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredHeroes: function () {
                var sortKey = this.sortKey
                var order = this.sortOrders[sortKey] || 1
                var heroes = this.heroes
                if (sortKey) {
                    heroes = heroes.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return heroes
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    <!-- bootstrap the demo pour rechercher une agence -->
    var demo = new Vue({
        el: '#ficheAgenceProbleme',
        data: {
            gridColumns: ['Date de début', 'Agent ouverture', 'Vehicule', 'Description'],
            gridData: {{ problemes | safe }}
        }
    })
</script>

{% verbatim %}
        <!-- vue.js historique -->
        <script type="text/x-template" id="historique-template">
        <table>
        <thead>
        <tr>
        <th v-for="key in columns"
    @click="sortBy(key)"
    :class="{ active: sortKey == key }">
        {{ key }}
    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
        </span>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredHeroes">
        <td v-for="key in columns" v-html="entry[key]">
        {{entry[key]}}
    </td>
    </tr>
    </tbody>
    </table>
</script>
{% endverbatim %}

<script type="text/javascript">
    Vue.component('historique-grid', {
        template: '#historique-template',
        props: {
            heroes: Array,
            columns: Array
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredHeroes: function () {
                var sortKey = this.sortKey
                var order = this.sortOrders[sortKey] || 1
                var heroes = this.heroes
                if (sortKey) {
                    heroes = heroes.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return heroes
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    <!-- bootstrap the demo pour rechercher une agence -->
    var demo = new Vue({
        el: '#ficheAgenceHistorique',
        data: {
            gridColumns: ['Date de vente', 'Nom du vendeur', 'Véhicule'],
            gridData: {{ historique_ventes | safe }}
        }
    })
</script>
<!-- vue.js personnel -->
    {% verbatim %}
<script type="text/x-template" id="personnel-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
        </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredHeroes">
            <td v-for="key in columns" v-html="entry[key]">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>
{% endverbatim %}
<script type="text/javascript">
    Vue.component('personnel-grid', {
        template: '#personnel-template',
        props: {
            heroes: Array,
            columns: Array
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredHeroes: function () {
                var sortKey = this.sortKey
                var order = this.sortOrders[sortKey] || 1
                var heroes = this.heroes
                if (sortKey) {
                    heroes = heroes.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return heroes
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    <!-- bootstrap the demo pour rechercher une agence -->
    var demo = new Vue({
        el: '#ficheAgencePersonnel',
        data: {
            gridColumns: ['Fonction', 'Nom', 'Prénom', 'E-mail Pro'],
            gridData: {{ agents | safe }}
        }
    })
</script>

{% endblock %}