{% extends "template.html" %}
{% block css %}<link rel="stylesheet" href="../../../static/css/vehicules.css">{% endblock %}
{% block block-corpus %}
  <div class="container-fluid">
            <div class="row justify-content-around p-2">
                <section class="border border-secondary p-2 m-2 col">
                    <h3>Rechercher un véhicule</h3>
                    <div id="demo" >
                        <form id="search">
                            <input name="query" v-model="searchQuery" tyope="text" placeholder="Rechercher un véhicule">
                        </form>
                        <demo-grid
                                :heroes="gridData"
                                :columns="gridColumns"
                                :filter-key="searchQuery">
                        </demo-grid>
                    </div>
                </section>
            </div>
        </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#menu',
            data: {
                user: 'admin',
                vehicules : true,
                agences: false,
                agents: false,
                compte: false
            }
        });
    </script>
    {% verbatim %}
    <!-- vue.js pour rechercher une agence -->
        <script type="text/x-template" id="grid-template">
            <table>
                <thead>
                <tr>
                    <th v-for="key in columns"
                        @click="sortBy(key)"
                        :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="entry in filteredHeroes">
                    <td v-for="key in columns">
                        {{entry[key]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </script>
    {% endverbatim %}

<!-- javascript pour rechercher une agence -->
<script type="text/javascript">
    Vue.component('demo-grid', {
        template: '#grid-template',
        props: {
            heroes: Array,
            columns: Array,
            filterKey: String
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            filteredHeroes: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var heroes = this.heroes
                if (filterKey) {
                    heroes = heroes.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    heroes = heroes.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return heroes
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    <!-- bootstrap pour rechercher une agence -->
    var demo = new Vue({
        el: '#demo',
        data: {
            searchQuery: '',
            gridColumns: ['', 'Plaque', 'Agence', 'Modèle', 'Statut', 'Localisation', 'Dates', 'Date de fab.', 'CV', 'Poids', 'H', 'L', 'o', 'x'],
            gridData: [
                {'':'', Plaque: 'AB-123-CD', Agence: 'Paris 15ème', "Modèle": 'Misosky', Statut: 'Location', Localisation: 'Paris 15eme', Dates: '01-01-19 au 01/02/19', "Date de fab.":'01-01-01', CV:'6', Poids:'1105', H:'155', L:'255', 0:'', x:''},
                {'':'', Plaque: 'ZY-987-WV', Agence: 'Nancy', "Modèle": 'Otto', Statut: 'Prêt', Localisation: 'Nancy', Dates: '07-03-19 au 01/02/20', "Date de fab.":'12-12-12', CV:'8', Poids:'3400', H:'123', L:'202', 0:'', x:''}
            ]
        }
    })

</script>
{% endblock %}