{% extends "template.html" %}
{% block css %}
<link rel="stylesheet" href="../../../static/css/compte.css">
{% endblock %}
{% block block-corpus %}
    <div class="container-fluid">
        <div class="row justify-content-around p-2">
            <section class="border border-secondary p-2 m-2 col">
                <h3>{% block titleSection %}Modifier mon compte{% endblock %}</h3>
                <form action="" method="post">
                {% block bodySection %}
                    {% if errorShortPw %} <div class="alert alert-danger" role="alert">Le mot de passe doit contenir au moins 8 caractères</div> {% endif %}
                    {% if errorPw %} <div class="alert alert-danger" role="alert">Le mot de passe et la confirmation du mot de passe ne sont pas identiques</div> {% endif %}
                    {% csrf_token %}
                    <input name="nom" id="compteModifierNom" type="text" placeholder="Nom : {{ agent.nom }}" readonly>
                    <input name="prenom" id="compteModifierPrenom" type="text" placeholder="Prénom : {{ agent.prenom }}" readonly>
                    <input name="adresse" id="compteModifierAdresse" type="text" placeholder="Adresse : {{ agent.adresse }}">
                    <input name="complement_adresse" id="compteModifierAdresseSuite" type="text" placeholder="Suite de l'adresse : {{ agent.complement_adresse }}">
                    <div>
                        <input name="code_postal" id="compteModifierCP" type="text" placeholder="Code postal : {{ agent.code_postal }}">
                        <input name="ville" id="compteModifierVille"  type="text" placeholder="Ville : {{ agent.ville }}">
                    </div>
                    <input name="telephone" id="compteModifierTel" type="text" placeholder="Téléphone : {{ agent.tel }}">
                    <input name="mobile" id="compteModifierMobile" type="text" placeholder="Mobile : {{ agent.mobile }}">
                    <input name="email" id="compteModifierMail" type="text" placeholder="Email : {{ agent.email }}" readonly>
                    <input name="poste_socopec" id="compteModifierFonction" type="text" placeholder="Fonction : {{ agent.poste_socopec }}" readonly>
                    <input name="photo" id="compteModifierPhoto" type="text" placeholder="Modifier ma photo">
                    <input name="identifiant" id="compteModifierLogin" type="text" placeholder="Login : {{ agent.login }}">
                    <div>
                        <input name="mot_de_passe" id="compteModifierMdP" type="password" placeholder="Mot de passe">
                        <input name="confirmation_mot_de_passe" id="compteModifierMdpConfirmation"  type="password" placeholder="Confirmation">
                    </div>
                    <div>
                       <input name="agence" id="agenceReadonly" type="text" placeholder="{{ agent.id_agence.nom }}" readonly>
                       <input name="date_entree_socopec" id="agentsChangeDateEntree" type="text" placeholder="Date d'entrée dans la société : {{ agent.date_entree_socopec }}" readonly>
                    </div>
                {% endblock %}
                    {% block footerSection %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-sm">{% block nomBouton %}Modifier{% endblock %}</button>
                {% endblock %}
                </form>
            </section>
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#menu',
            data: {
                user: 'admin',
                vehicules : false,
                agences: false,
                agents: false,
                compte: true
            }
        });
    </script>
{% endblock %}